# Стратовый файл.
 DirectoryIndex /index.php

 # Модуль маршрутизации.
 RewriteEngine On

 # Базовый орневой каталог.
 RewriteBase /

 # Ошибка 404.
 ErrorDocument 404 /

 # Запросы апи.
 RewriteRule ^api$ /?api [L]
 RewriteRule ^api/signup$ /?api&signup [L]